---
Checks: '*,-clang-analyzer-alpha.*,-llvm-include-order,-readability-braces-around-statements,-readability-else-after-return,-google-readability-braces-around-statements,-google-readability-casting'
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: true

CheckOptions:    
  - key:   google-readability-function-size.BranchThreshold
    value: '4294967295'
  - key:   google-readability-function-size.LineThreshold
    value: '4294967295'
  - key:   google-readability-function-size.StatementThreshold
    value: '800'
  - key:   google-readability-namespace-comments.ShortNamespaceLines
    value: '10'
  - key:   google-readability-namespace-comments.SpacesBeforeComments
    value: '2'
  - key:   readability-function-size.BranchThreshold
    value: '4294967295'
  - key:   readability-function-size.LineThreshold
    value: '4294967295'
  - key:   readability-function-size.StatementThreshold
    value: '800'
...
